.footer {
	background-image: url("../../images/footer-back.jpg");
	color: white;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 5px;
}

.footer a{
	font-size: 30px;
 	width: 50px;
  	position: relative;
  	top: 10px;
  	color: white;
  	margin-right: 10px;
  	text-decoration: none;
}

.footer a:visited {
	color: white;
	text-decoration: none;
}